.blog,
.about
	+section
	position: relative

.blog__post
	+g-transition
	+span-columns(4)
	+omega(3n)
	position: relative
	margin-bottom: rem(25)
	&:hover
		+card-hover
		.unpublished__banner
			opacity: 1
	a
		+display(inline-block)
		color: $black
	
	+media (max-width $medium-screen)
		+omega(2n)
		+omega-reset(3n)
		+span-columns(6)

	+media (max-width $small-screen)
		+span-columns(12)
.blog__link
	width: 100%

.blog__image
	background-position: center
	background-size: cover
	height: 200px

.blog__text
	padding: rem(20)
	border: rem(1) solid $light-grey
	border-top: none

.blog__title
	font-size: rem(20)

.blog__content
	+display(block)
	min-height: rem(220)
	+media (max-width $medium-screen)
		min-height: rem(175)
	+media (max-width $small-screen)
		min-height: rem(100)

.admin__buttons
	padding: rem(10) rem(20)
	border: rem(1) solid $light-grey
	border-top: none

.lead_image
	// margin-top: rem(20)

.unpublished
	width: 90px
	height: 90px
	overflow: hidden
	position: absolute
	bottom: -3px
	right: -3px

.unpublished__banner
	+g-transition
	-webkit-transform: rotate(-45deg)
	-webkit-transform: rotate(-45deg)
	background: $caution
	border-radius: 10px
	bottom: 20px
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2)
	color: $light-grey
	font-weight: 600
	letter-spacing: 1px
	opacity: 0.25
	overflow: hidden
	padding: 5px
	position: absolute
	right: -40px
	text-align: center
	transform: rotate(-45deg)
	transform: rotate(-45deg)
	width: 140px
	&--show
		opacity: 1

.fr-box.fr-basic .fr-element
	min-height: 150px

.rte a
	font-style: italic
	color: $black
	&:hover
		text-decoration: underline