.blog
	+section

.blog__post
	+g-transition
	+span-columns(4)
	+omega(3n)
	margin-bottom: rem(25)
	&:hover
		+g-shadow
		transform: translateY(-3px)
	a
		color: $black
	
	+media (max-width $medium-screen)
		+omega(2n)
		+omega-reset(3n)
		+span-columns(6)

	+media (max-width $small-screen)
		+span-columns(12)

.blog__image
	background-position: center
	background-size: cover
	height: 200px

.blog__text
	padding: rem(20) rem(20) 0 rem(20)
	border: rem(1) solid #f5f5f5
	border-top: none

.blog__content
	min-height: rem(200)
	
	+media (max-width $medium-screen)
		min-height: rem(175)

.lead_image
	margin-top: rem(20)