<section class="about">
	<h1>About this place</h1>
	<p>This site was created with the three intentions:</p>
	<ol>
		<li>Practice building a new site using some new tools</li>
		<li>Collecting and sharing what we learn along the way, for our reference, and public reference</li>
		<li>Offer others in the Rails community a new place to post what they are learning</li>
	</ol>
	<p>There is a realistic assumption that not everything posted here will be the best way or even the correct way of doing things in Rails. It will be a record of the way the contributors have done things, and perhaps in time we'll learn from that as well. This will also be a place to improve upon our technical writing skills, and in doing so it should help us better embed what we have learned. This is more about the process than the result.</p>
	<p>If you would like to contribute to this project, please DM me on <a href="https://www.twitter.com/rbnhmll">twitter</a>, and we'll work on setting something up.</p>

	<p>Rails Church is a creation of <%= link_to "Robin Hamill", "http://www.robinhamill.ca", target: '_blank' %> &amp; <%= link_to "Jessica Jones", "http://www.heyjess.ca/", target: '_blank' %></p>
</section>