<section class="about">
	<h1>About this place</h1>
	<p>Hey, my name is Robin. I'm a Ruby on Rails and Shopify developer on Toronto. I made this site with the three intentions:</p>
	<ol>
		<li>Practice building a new site using some new tools</li>
		<li>Collecting and sharing what I learn along the way, for my reference, and public reference</li>
		<li>Offer other people in the Rails community a new place to post what they are learning</li>
	</ol>
	<p>I think there is a realistic assumption that not everything I post here will be the best way or even the correct way of doing things in Rails. It will be a record of the ways I have done things, and perhaps in time I'll learn from that as well. I'm also not the best technical writer, but my hope is that the more I write, the better I will become. This is more about the process than the result.</p>
	<p>I also hope to have guest contributors - friends of mine - who are also active Rails developers contribute from time to time as they see fit. I know that I will certainly learn a lot from this, and hope it will help others.</p>
	<p>If you would like to contribute to this project, please DM me on <a href="https://www.twitter.com/rbnhmll">twitter</a>, and we'll work on setting something up.</p>

	<p>-Robin</p>
</section>