body
	+display(flex)
	background-color: $light-grey
	flex-direction: column
	min-height: 100vh

.wrapper
	+outer-container($max-width)
	flex: 1
	width: 95%

.page-content
	margin-top: rem(120)

.hero
	background-size: cover
	background-image: url(asset_path('hero_pattern.png'))
	margin-top: rem(20)
	padding: 7% 10%
	&__title
		padding: 2%
		font-size: rem(35)
		margin-bottom: 0
		text-align: center
		letter-spacing: rem(6px)
		background: rgba($white,0.25)
		box-shadow: 0 0 0px 10px rgba($caution, 0.4)
		border: 10px solid $white
		transform: rotate(-5deg) skew(-5deg)
		+media (max-width $medium-screen)
			font-size: rem(30)
		+media (max-width $small-screen)
			font-size: rem(15px)
		&--fun
			font-family: $megrim
			font-size: rem(100)
			text-shadow:  0.25rem -0.25rem rgba(magenta, 0.75), -0.25rem -0.25rem rgba(cyan, 0.75), 0 0.5rem rgba($caution, 0.75)
			display: block
			letter-spacing: rem(2px)
			transform: rotate(5deg) skew(5deg)
			+media (max-width $medium-screen)
				font-size: rem(70)
				margin: .15em 0
				text-shadow:  0.2rem -0.2rem rgba(magenta, 0.75), -0.2rem -0.2rem rgba(cyan, 0.75), 0 0.3rem rgba($caution, 0.75)
			+media (max-width $small-screen)
				font-size: rem(35px)
				text-shadow:  0.15rem -0.15rem rgba(magenta, 0.75), -0.15rem -0.15rem rgba(cyan, 0.75), 0 0.25rem rgba($caution, 0.75)

.page__title
	margin: 0.75em 5%

div
	&.field,
	&.actions
		margin-bottom: 10px

#notice,
.notice,
.alert
	color: $green
	margin-bottom: 0
	padding: 0

.field_with_errors
	background-color: $red
	border-radius: rem(5)
	display: block
	padding: rem(2)

#error_explanation
	background-color: #f0f0f0
	border: 2px solid $red
	margin-bottom: 20px
	padding-bottom: 0
	padding: 7px
	width: 100%

	h2
		background-color: $red
		color: $white
		font-size: 12px
		font-weight: bold
		margin-bottom: 0px
		margin: -7px
		padding: 5px 5px 5px 15px
		text-align: left

	ul
		padding: rem(5)

.header
	+g-transition
	background-color: $dark-grey
	color: $white
	left: 0
	padding: rem(20) 0
	position: fixed
	right: 0
	z-index: 999
	+media (max-width $small-screen)
		padding: rem(10)

.header__wrapper
	+display(flex)
	align-items: center
	justify-content: space-between
	&:after
		content: none
		clear: none

.shrink header
	padding: 0
	opacity: .9
	.logo__text
		font-size: rem(25)
	.logo__image
		width: rem(30)
		margin-left: rem(10)

.logo
	+display(flex)
	align-items: center
	color: $white
	font-size: 20px
	margin: 0
	padding-top: rem(5)
	&:hover
		color: $white
	&__image
		+g-transition
		width: rem(50)
		+media (max-width $small-screen)
			width: rem(30)
	&__text
		+g-transition
		font-family: $special-font
		font-size: rem(50)
		margin-bottom: 0
		margin-left: rem(20)
		text-transform: uppercase
		+media (max-width $small-screen)
			font-size: rem(25)
			margin-left: rem(10)

nav
	ul
		+display(flex)
		li
			margin-left: rem(10)
			a,
			a.btn,
			a:visited
				color: $white

.footer
	background-color: $dark-grey

.footer__copy,
.footer__copy a
	color: $white
	font-size: rem(12)
	margin: 0
	padding: rem(20) 0
	text-align: center

.footer__copy a
	&:hover
		text-decoration: underline

pre
	padding: 25px

// Remove Froala warning label
a[href="https://froala.com/wysiwyg-editor"]
	display: none !important