body
	+display(flex)
	flex-direction: column
	min-height: 100vh

a
	color: $black

	&:hover
		color: $white
		background-color: $black

p

.wrapper
	+outer-container($max-width)
	flex: 1
	padding: 0 25px

header
	padding: rem(25) 0
	background-color: $dark-grey
	color: $white

.logo
	margin: 0
	float: left

nav
	float: right
	margin-top: rem(7)
	ul
		+display(flex)


	a,
	a:visited
		color: $white
		padding: 5px

footer
	background-color: $dark-grey
	color: $white
	p
		text-align: center
		padding: rem(25) 0
		margin: 0

.btn
	+display(inline-block)
	padding: rem(10) rem(20)
	background: orange