.blog
	+row()
	background: #fff
	padding: 5%
	margin-bottom: rem(20)

.blog__post
	+span-columns(4)
	+omega(3n)
	margin-bottom: rem(25)
	transition: .3s cubic-bezier(.09,.33,.25,1.19) all
	&:hover
		+g-shadow
		transform: translateY(-3px)
	
	+media (max-width $medium-screen)
		+omega(2n)
		+omega-reset(3n)
		+span-columns(6)

	+media (max-width $small-screen)
		+span-columns(12)

.blog__image
	background-position: center
	background-size: cover
	height: 200px

.blog__text
	padding: rem(20) rem(20) 0 rem(20)
	border: rem(1) solid #f5f5f5
	border-top: none

.blog__content
	min-height: rem(200)
	
	+media (max-width $medium-screen)
		min-height: rem(175)